.preview {
	&__inner {
		padding: 113px 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #E1E1E1;
	}
	&__content {
		width: 45%;
		max-width: 550px;
	}
	&__title {
		font-size: 36px;
		font-weight: 700;
		line-height: 51px;
		margin-bottom: 50px;
	}
	&__text {

	}
	&__text-title {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 15px;
	}
	&__paragraph {
		max-width: 390px;
		line-height: 28px;
		font-size: 16px;
		color: #6B6B6B;
		font-weight: 300;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	&__video-wrapper {
		padding-top: 30px;
	}
	&__video {
		width: 550px;
		height: 410px;
		border-radius: 6px;
	}
	@media (max-width: $breakpoint-laptop) {
		&__title {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 30px;
		}
		&__video {
			width: 500px;
			height: 360px;
		}
	} 
	@media (max-width: $breakpoint-tablet) {
		&__inner {
			padding: 50px 0;
			flex-wrap: wrap;
			justify-content: center;
		}
		&__content {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&__title {
			text-align: center;
		}
		&__text-title {
			text-align: center;
			font-size: 20px;
		}
		&__paragraph {
			text-align: center;
		}
		&__video-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&__video {
			height: 320px;
		}
	} 
	@media (max-width: $breakpoint-mobile) {
		&__inner {
			padding: 30px 0;
		}
		&__title {
			font-size: 28px;
			margin-bottom: 15px;
		}
		&__video {
			height: 300px;
		}
	}
	@media (max-width: $breakpoint-mobile-low-res) {

		&__video {
			height: 220px;
		}
	}
}