.plans-items {
	display: flex;
	&__item {
		width: 370px;	
		background-color: $color-3;
		padding-top: 56px;
		padding-bottom: 170px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		&--light {
			background-color: #fff;
		}
	}
	&__status {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	&__price {
		font-weight: 700;
		margin-bottom: 20px;
		.strong {
			color: $color-1;
			font-size: 72px;
		}
	}
	&__text {
		line-height: 28px;
		font-weight: 300;
		color: #6B6B6B;
		max-width: 280px;
		text-align: center;
	}
	&__button {
		position: absolute;
		bottom: 67px;
	}
	@media (max-width: $breakpoint-tablet) {
		&__item {
			padding-top: 32px;
			padding-bottom: 100px;
		}
		&__status {
			margin-bottom: 12px;
		}
		&__price {
			.strong {
				font-size: 40px;
			}
		}
		&__text {
			line-height: 22px;
		}
		&__button {
			bottom: 32px;
		}
	}
	@media (max-width: $breakpoint-mobile) {
		flex-wrap: wrap;
		&__item {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}